@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #03A9F4;
  height: fit-content;

}

body {
  background: linear-gradient(to right, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);

}

ul {
  list-style: none;
}

img {
  width: 40%;
  height: 50%;
  margin-right: .5rem;
}

h1 {
  color: rgba(237,237,237,1);
}


a {
  text-decoration: none;
}

.card {
  background-color: #2C3034;
  border: solid 2px #DDD;
  /* box-shadow: 2px 2px #CCCCCC; */
}

/* begin home signup and login styles */

/* .backRight {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #3498db;
  background-size: cover;
  background-position: 50% 25%;
}

.backLeft {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #2C3034;
  background-size: cover;
  background-position: 50% 25%;
} */

.topLayer {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

.left {
  width: 50%;
  height: 100%;
  background: #2C3034;
  left: 0;
  position: absolute;
}

.right {
  width: 50%;
  height: 100%;
  background: #f9f9f9;
  right: 0;
  position: absolute;
}

button {
  background: #03A9F4;
  padding: 10px 16px;
  width: auto;
  font-weight: 600;
  text-transform:  uppercase;
  font-size: 14px;
  color: #fff;
  line-height: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
  border: 0;
  outline: 0;
  margin: 15px 20px 15px 0;
  transition: all 0.25s;
}

.home-button:hover {
  background: #0288D1;
  box-shadow: 0 4px 7px rgba(0,0,0,0.1), 0 3px 6px rgba(0,0,0,0.1);
}

.switch {
  /* font-size: 1rem; */
  text-transform: uppercase;
  background: none;
  color: #03A9F4;
  box-shadow: none;
  border: none;


}



.right .switch:hover {
  background: #eee;
  color: #03A9F4;
  box-shadow: none;

}
.left .switch:hover {
  box-shadow: none;
  color: #03A9F4;
  background: #363A3D;
}

.content-right {
  width: 25rem;
  margin: 0 auto;
  top: 20vh;
  position: relative;
  left: 40%;
  margin-left: -6rem;
}

.content-left {
  width: 25rem;
  margin: 0 auto;
  top: 20vh;
  position: relative;
  left: 40%;
  margin-left: -3rem;

}

.content-right h2 {
  color: #03A9F4;
  font-weight: 300;
  font-size: 35px;


}

.content-left h2 {
  color: #03A9F4;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
}

/* START responsive design for login on Homepage */

@media (max-width: 425px) {
  .content-right h2 {
    margin-left: 1rem;
  }

  .content-right {
    margin-left: -5.25rem;
  }
}

 /* END responsive design for login on Homepage */

#slideBox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

#back {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -999;
}

input {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #45494C;
  font-size: 14px;
  color: #959595;
  padding: 8px 0;
  margin-top: 20px;
}

/* START navigation bar styling */

#navlinks a {
  color: #03A9F4;

}

#navlinks {
  display: flex;
  flex-direction: row;
}

.navbar-background {
  background: #2C3034;
  border-bottom: 1px solid #000;
  height: auto;
}

.navbar-nav {
  justify-content: space-between;

}

.nav-title {
  align: middle;
  margin: .5rem;
}

.nav-title span {
  color: rgba(237,237,237,1);
  font-size: 2rem;
  letter-spacing: .3rem;
  font-variant: small-caps;
}

.profile-link {
  display: flex;
  align-self: flex-end;
  margin-right: -1.5rem;
  flex-wrap: wrap;
}


.dashboard-links {
  display: flex;
  align-self: flex-end;
  margin-left: -1.5rem;
  flex-wrap: wrap;
}

.navbar-toggler .navbar-toggler-icon {
  font-size: .6rem;
  margin: .25rem .5rem .25rem 0rem;
}

.navbar .nav button {
  margin: .25rem .5rem .25rem 0rem;
}

/* START media query for navigation title */

@media (max-width: 425px) {
  .nav-title {
    align: middle;
    margin: .5rem;
    margin-left: 1.5rem;
  }
}

  /* END media query for nav title */

  /* START styles for explore page */

.card {
  margin-bottom: .5rem;
  margin-top: .5rem;
}

.title {
  display: inline;
}


.form-control {
  height: 2rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.search-btn {
  height: 2rem;
  font-size: 1rem;


}

.tag-search-div {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.tags-preview {
  border-radius: .3rem;
  height: 2.25rem;
  margin-right: auto;
  padding: .25rem .5rem .25rem 1rem;

}

.tags-preview-span {
  padding: .25rem .5rem .25rem 1rem;
  border: white solid 1px;
  border-radius: .3rem;
  background-color: skyblue;
  color: white;
}

a .view-recipe-button {
  margin: .25rem .25rem;
}

/* beginning of profile-update, profile-create and profile-view styling */

.profile-create-body {
  height: fit-content;
}

.create-display-name {
  margin: 1rem;
}


.create-display-name input {
  margin-left: 1.4rem;
}

.create-avatar {
  margin: 1rem;
}

.create-avatar label {
  display: block;
  margin-top: 1rem;
}

.create-bio {
  margin: 1rem;

}

.create-bio label {
  display: block;
}

.create-bio textarea {
  margin-left: 1.4rem;
  background: none;
  border: none;
  resize: none;
  border-bottom: solid 1px #45494C;
  font-size: 14px;
  width: 17rem;
}

.create-bio textarea:focus {
  border: none;
  outline: none;
  height: 2rem;
  border-bottom: solid 1px #45494C;
  font-size:
}

.update-display-name {
  margin: 1rem;

}

.update-display-name input {
  margin-left: 1.4rem;
}

.update-avatar {
  margin: 1rem;
}

.update-avatar label {
  display: block;
  margin-top: 1rem;
}

.update-avatar input {
  margin-top: 0;
  margin-left: 1rem;
  display: inline;
}

.update-bio {
  margin: 1rem;
}

.update-bio textarea {
  margin-left: 1.4rem;
  background: none;
  border: none;
  resize: none;
  min-height: 4rem;
  width: 17rem;
  border-bottom: solid 1px #45494C;
  font-size: 14px;

  }

.update-bio textarea:focus {
  border: none;
  outline: none;
  height: 2rem;
  border-bottom: solid 1px #45494C;
  font-size:
  }



.profile-body {
  height: fit-content;
}

.profile-update a {
  display: inline;
  color: #03A9F4;
}

.profile-username {
  width: fit-content;
  margin: 1rem;
}

.profile-avatar {
  margin: 1rem;
}

.profile-bio {
  margin: 1rem;
}

.profile-date-joined {
  width: fit-content;
}


.profile-nav {
  text-align: right;
  margin-right: 1rem;
  margin-top: .5rem;
}

.profile-nav button {
  margin-right: .5rem;
}

.recipe-list-img {
  width: 14rem;
  height: 12rem;
}

.recipe-list-body {
  display: inline-block;
}


.recipe-create-div {
  display: flex;
  flex-direction: row-reverse;
}

.recipe-detail-div {
  display: flex;
  flex-direction: row-reverse;
}

@media (max-width: 1000px) {
  .recipe-detail-div {
    display: flex;
    flex-direction: column;
  }
}

.recipe-title-div {
  display: inline-block;
  width: 35rem;
}

.recipe-title {
  width: 20rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.recipe-detail-title {
  background-color: white;
  border: solid 1px #DFDFDF;
  border-radius: 4px;
  padding: .25rem;
  font-size: 1.75rem;
  /* width: 50vw; */

  margin-top: .5rem;
  margin-bottom: .5rem;
}

.recipe-description {

  margin-top: .5rem;
  margin-bottom: .5rem;
  width: 30rem;
}

.recipe-detail-description {
  background-color: white;
  border: solid 1px #DFDFDF;
  border-radius: 4px;
  padding: .25rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
  /* width: 30vw; */
}

.recipe-times-div {
  float:right;
  margin-top: .5rem;
  margin-right: 1.5rem;

  /* background-color: white;
  border: solid 1px #DFDFDF;
  border-radius: 4px;
  padding: 1rem; */
}

.recipe-created {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.recipe-updated {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.image-create-div {
  display: inline-block;
  width: 20rem;
  float: right;
  padding-left: 1rem;
}

.image-detail-div {
  display: inline-block;
  width: 20rem;
  float: right;
  padding-left: 1rem;
}

.image-upload {

  height: 2.5rem;
  width: 100%;
}

.image-upload::-webkit-file-upload-button {
  border: rgba(0,0,0,.125) 1px solid;
  border-radius: 3px;
  background-color: #eeffff77;
  margin-top: .25rem;
  color: #000000aa;
}

.image-upload::-webkit-file-upload-button:hover{
  background-color: #eeffffff;
  border: #00000055 solid 1px;
  border-radius: 3px;
}

.image-upload::before {

  display: inline-block;
  background: linear-gradient(to bottom, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}

.image-upload:hover {
  background-color: #
}

.image-preview-div {
  height: 14rem;
  margin-top: 0;
}

.image-preview {
  height: 14rem;
  margin-top: 0;


}

.recipe-ingredient-div {
  display: inline-block;
  margin-left: .001rem;
  height: fit-content;

}

.recipe-ingredient-box {
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  height: fit-content;

}

.recipe-instructions-div {
  display: inline-block;
  height: fit-content;
}

.recipe-instructions-box {
  padding: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  height: fit-content;
}



.save-recipe-div {

}

.save-button-recipe {
  display: flex;
  float: right;
}

.recipe-save-div {
  height: 2rem;
}

.comments-toggler-btn {
  font-size: 1rem;
  margin-left: 1rem;
}

.comment-owner {
  font-size: 1.5rem;

}

.comment-date-published {
  font-size: .5rem;
  text-align: right;
}

.comment {
  padding: .5rem;
}

.comment-body-div {
  padding: .5rem;
  margin: .5rem;
}

.comment-body {
  padding: .5rem;
  height: 5rem;
}

.delete-comment {
  height: 2rem;
}
